<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--NOTE: Using ejs from html-webpack-plugin so that trackJs code will only get executed in production mode-->
    <% if(htmlWebpackPlugin.options.trackJSToken) { %>
    <!-- BEGIN TRACKJS -->
    <script type="text/javascript">window._trackJs = {token: '<%=htmlWebpackPlugin.options.trackJSToken %>'};</script>
    <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
    <!-- END TRACKJS -->
    <% } %>
</head>
<body>
<h1>Products</h1>
<table>
    <thead>
    <th>Name</th>
    <th>Category</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
    </thead>
    <tbody id="products">

    </tbody>
</table>
<!--removed script tag from here because HTML-webpack-plugin will generate it automatically-->
</body>
</html>